@use '../partials/_global' as *;

h3 {
    font-size: 2.0625rem;
    font-family: 'Open Sans';
    font-weight: 300;
    padding: 0;
    margin: 0;
}

div {
    margin-top: 0;
    margin-bottom: 0;
    }

body, html {
        margin: 0;
        padding: 0;
        width: 100%;
    }

section {
    margin-top: 0;
    margin-bottom: 0;
}

h2 {
    font-family: 'Open Sans'; 
    font-weight: 300;
    font-size: 3.75rem; 
}




.coffee{
    background-color: $pink; 
    margin: 0rem;
    width: 100%;
    display: flex;


    &__card{
        display: inline-block;
        margin-left: 10vh;
        margin-top: 5vh;
        margin-right: 10vh;
        margin-bottom: 5vh;
        text-align: center;
        height: auto;
        width: auto;
    }

    &__format{
        /* margin: 100px; */
        text-align: left;
        height: auto;
        width: auto;
        
    }

    &__img-container{
        display: inline-block;
        margin-right: 1vh; 
    

        & img {
            display: inline-block;
            width: auto;
            height: auto;

        }

    }
    &__text{
        font-size: 1.125rem;
        font-family: 'Open Sans';
        font-weight: 400;
        /* text-align: center; */
        text-wrap: balance;
        width: 48.05%;
        display: inline-block;
        margin: 1.25rem;
    }
}

.shop {
    display: flex;
    position: relative; 
    margin: 1.25rem;

    &:active{
        transform: translateX(8px) translateY(8px);

    }



    &__border {
        position: absolute; 
        @include flex-center ();
        height: 4.25rem;
        width: 13.75rem;
        border: .125rem solid #393939; 
        z-index: 2;
        box-sizing: content-box;
        position: absolute;
        top:  -10px;
        left: -10px; 

        &:active{
            transform: translateX(8px) translateY(8px);

        }

    }



    &__button{
        background-color: #5BACC3;
        color: #FFF; 
        font-size: 21px;
        font-weight: 400;
        width: 180px;
        height: 100%;
        border: #5BACC3;
        border-style: solid;
        border-width: 1.25rem;
        text-wrap: nowrap;
        text-align: center;
        margin-left: 0px ;
        @include flex-center ();
        position: relative;
        z-index: 1;
        
        
        &:active{
            transform: translateX(8px) translateY(8px);

        }
    }
}
.products{
    height: 17.5rem; 

}

.banner{
    color: #FFF; 
    background-color: #393939; 
    width:90%; 
    margin: 1.25rem;
    padding: 1.25rem;
    text-align: center;
    display: block; 
    border-color: #FFF;
    border-style: solid;
    border-width: 6.25rem 0rem 6.25rem 3.125rem;
    animation: color-anim 2.5s infinite;

    &__reg{
        font-size: 2.8125rem;
        font-weight: 400;
        margin: 1.25rem;
        font-family: 'Open Sans';
        display: inline-block;
    }
    
}

.format{
    display: flex;
    align-items: center;
}


.card{ 
    width: 20.625rem; 
    height: 27.5rem;
    margin: 3.75rem; 
    /* it says 20 on style sheet but it didn't look like the mockup */
    border-radius: 0.625rem;
    box-shadow: 0 0.3125rem 0.5625rem -0.0625rem rgba(0, 0, 0, 25);
    display: flex;
    flex-direction: column;
    
    

}

.top {
    background-color: $white;
    height: 65%;
    @include flex-center;
    border-radius: 0.625rem 0.625rem 0rem 0rem;



    &__img{
        display:block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0.625rem;
        margin-bottom: 0.625rem;

    }

}

.bottom {
    background-color: $pink;
    height: 35%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 0rem 0rem 0.625rem 0.625rem ;

}


.pink {
    background-color: $pink;
    display: flex;
    align-content:center;
    justify-content: space-between;


    &__left {
        display:flex;
        flex-direction: column;;
        align-items: flex-start;
        justify-content: flex-start;
        padding-right: 50px;

    }

    &__right {
        @include flex-center;

    }

    &__title {
        justify-content: flex-start; 
        flex-direction: column;
    } 

    &__text {
        display: flex; 
        align-content: center;
        justify-content: flex-end;
        color: $blue; 
        font-size: 2.0625rem;
        font-family: 'Open Sans';
        font-weight: 300;
    }

    &__small {
        color: $gray; 
        font-size: 18px;
        font-family: 'Open Sans';
        font-weight: 300;
        justify-content: flex-start; 
        flex-direction: column;
    }

}

.view {
    position: relative; 
    @include flex-center;

    &:active{
        transform: translateX(13px) translateY(8px);

    }
    


    &__border {
        display: flex;
        position: absolute;
        Width: 13.75rem;
        height: 4.25rem; 
        border: .125rem solid $graphite; 
        z-index: 2;
        top: -10px;
        left: 41%; /* it doesn't work if i use -10px */
        box-sizing: content-box;

        &:active{
            transform: translateX(13px) translateY(8px);

        }
        
    }

    &__button{
        color: #FFF; 
        font-size: 21px;
        font-weight: 400;
        width: 11.25rem;
        height: 100%;
        text-align: center;
        background-color: $blue;
        border: $blue solid 1.25rem;
        @include flex-center;
        position: relative;
        z-index: 1;

        &:active{
            transform: translateX(13px) translateY(8px);

        }
    }
}


.header2__prod{

    text-align: center;
    font-size: 3.75rem;
    font-family: 'Open Sans';
    font-weight: 300;
    margin: 1.25rem;
    
}

.graybackground{
    background-color: $light-gray;
    text-align: center;
    padding: 2.5rem 1.25rem;
    width: auto;
    display: flex;
    flex-direction: column;
    

    &__products{
        display: flex;
        flex-direction: row;
    }

}

.footer{
    background-color: $pink; 
    margin: 0rem;
    padding-bottom: 3rem;
    width: auto;
    height: auto;
    display: flex; 
    flex-direction: row;
    align-content: center; 
    justify-content: space-around;
    
    & p {
        display: flex;
        align-items: flex-start; 
        justify-content: flex-start;
        flex-direction: column;
        margin: 0;
        margin-right: 1rem;
        white-space: nowrap;
        width: 100%;
    }

    & h3 {
        align-items: flex-start;
        margin: 1rem;
        margin-left: 0rem;
        margin-top:2rem;
    }

    &__card{
        display: flex;
        flex-direction: column;
        width:auto;
    }

    &__icons {
        display: flex;


        & a {
            margin-right: 0.625rem; 
            margin-top: 1rem;
        }

        & img {
            
            width: 3.125rem;
            height: auto;

        }
    }
}


.discount {
    display: flex; 
    align-items: center;


    &__wrapper {
        position: relative; 

        &:hover img {
            
            transform: rotate(360deg);
            transition: transform 2s linear; 

            }
    }


    &__image {
        background-image: url("../assets/images/coldbrewbackground.png");
        width: 400px; 
        padding: 20px;
        margin: 20px;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 1;

        &:hover img {
            
            transform: rotate(360deg);
            transition: transform 2s linear; 

            }


        & img {

            width: auto; 
            height: 17.5rem;
            margin: 1.25rem;
            padding: 1.25rem;

            &:hover img {
                
                transform: rotate(360deg);
                transition: transform 2s linear; 

                }
            
        }
    }


    &__border{
        border: .3125rem solid $blue; 
        z-index: 2;
        box-sizing: content-box;
        position: absolute;
        width: 440px; 
        height: 400px; 
        top:  -10px;
        left: -10px; 

        &:hover img {
            
            transform: rotate(360deg);
            transition: transform 2s linear; 

            }
    }
}

.different {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px; 
    margin: 40px;

    &__title {
        font-size: 3.75rem;
        font-family: 'Open Sans';
        font-weight: 300;
        margin-left: 0px;

    }

    &__text {
        font-size: 1.125rem;
        font-family: 'Open Sans';
        font-weight: 400;
        text-wrap: balance;
        width: 100%;
        
    }

    &__icons {
        display: flex;
        align-content: flex-start;
        justify-content: space-between;
        width: 48.05%; 
        margin-top: 20px; 

        & img {

            width: 3.125rem;
            height: auto;

        }

    }

    &__wrapper {
        position: relative; 
        display: flex;
        margin: 1.25rem;
        justify-content: flex-end;

        &:active{
            transform: translateX(8px) translateY(8px);

        }
    }

    &__border {
        display: flex;
        align-content: center;
        justify-content: center;
        height: 4.25rem;
        width: 13.75rem;
        border: .125rem solid $graphite; 
        z-index: 2;
        box-sizing: content-box;
        position: absolute;
        top:  -10px;
        left: -10px; 

        &:active{
            transform: translateX(8px) translateY(8px);

        }
        

    }


    &__button {
        background-color: $blue;
        color: $white; 
        font-size: 21px;
        font-weight: 400;
        width: 180px;
        height: 100%;
        border: $blue;
        border-style: solid;
        border-width: 1.25rem;
        text-wrap: nowrap;
        text-align: center;
        margin-left: 0px ;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 1;

        &:active{
            transform: translateX(8px) translateY(8px);

        }

    }
}




.beans {
    display: flex;
    position: relative; 

    &__first {
        position: relative; 
        width: 120px; 
        height: 100%;
        opacity: 25%;
        bottom: -80px;
        left: 140px;
    }


    &__second {
        position: absolute; 
        width: 120px; 
        height: 100%;
        opacity: 25%;
        left: -1260px;
    }
}



@keyframes color-anim {
    0% {
      background: $graphite;
    }
    100% {
      background: $blue;
    }
  }